#wcfm-main-contentainer input.wcfm-checkbox, #wcfm-main-contentainer input[type="checkbox"]{
	-webkit-appearance: checkbox !important;
}
.alert+ .progress{
	margin-top: 10px;
}
.alert + .alert {
	margin-top: 10px;
}
.hide{
	display: none;
}
.progress {
	display: -ms-flexbox;
	display: flex;
	height: 2rem;
	overflow: hidden;
	font-size: .75rem;
	background-color: #e9ecef;
	border-radius: .25rem;
}
.progress-bar-animated {
	-webkit-animation: progress-bar-stripes 1s linear infinite;
	animation: progress-bar-stripes 1s linear infinite;
}

.progress-bar-striped {
	background-image: linear-gradient(45deg,
		rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,
		transparent);
	background-size: 1rem 1rem;
}
input[disabled="disabled"],button[disabled="disabled"],input[disabled="disabled"]:hover,button[disabled="disabled"]:hover {
    opacity: 0.6 !important;
    cursor: not-allowed !important;
}
@-webkit-keyframes progress-bar-stripes {
	from {
		background-position:1rem 0
	}
	to {
		background-position:0 0
	}
}
@keyframes progress-bar-stripes {
	from {
		background-position:1rem 0
	}
	to {
		background-position:0 0
	}
}
.progress-bar {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: #007bff;
	transition: width .6s ease;
}
.button_small:hover, .button_medium:hover, .button_large:hover, .button_jumbo:hover, .explanation_message.employee_discount_notice .discount_notice_button:hover, .header_secondary_level_menu_item.sell_in_one_click a:hover, .header_subnav_menu .header_subnav_menu_button:hover, .mobile_footer_bottom_bar .mobile_footer_buttons_container .mobile_footer_button.add_to_cart_button:hover, .mobile_footer_bottom_bar .new_user_sign_up_button:hover {
	background-color: #4b8c00 !important;
	background-image: linear-gradient(to top, #4b8c00, #58a600) !important;
	color: #fff !important;
	box-shadow: none !important;
	text-decoration: none !important;
}
.item_import_form .submit_import_job, .item_import_form_admin_view .submit_import_job {
	margin-top: 30px;
}
.item_import_form .import_sync_info, .item_import_form_admin_view .import_sync_info {
	display: flex;
	justify-content: space-between;
}
.item_import_form .import_sync_info_panel, .item_import_form_admin_view .import_sync_info_panel {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}
.item_import_form > *, .item_import_form_admin_view > * {
	padding: 20px 25px;
}
.item_import_form .import_sync_info_panel_contents, .item_import_form_admin_view .import_sync_info_panel_contents {
	align-self: flex-start;
}
.item_import_form .sync_details, .item_import_form_admin_view .sync_details {
	padding-left: 0;
}
.item_import_container, .item_import_container * {
	box-sizing: border-box;
}
.item_import_form .sync_details li, .item_import_form_admin_view .sync_details li {
	list-style-type: none;
	margin-bottom: 10px;
	margin-left: 24px;
	text-indent: -12px;
}
.item_import_form .sync_details li::before, .item_import_form_admin_view .sync_details li::before {
	display: inline-block;
	font-family: "Font Awesome 5 Free";
	font-size: 14px;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "";
	margin-right: 10px;
	color: #58a600;
}
.item_import_container .available_import_authorizations .authorized_button:hover, .item_import_container .available_import_authorizations .select_ebay_account:hover, .item_import_form .import_sync_info_panel_contents .cancel_sync_button:hover, .item_import_form_admin_view .import_sync_info_panel_contents .cancel_sync_button:hover {
	background-color: #f2f2f2; background-image: none; color: #2a678c; 
}
.item_import_container .available_import_authorizations .unauthorized_button, .item_import_form .import_sync_info_panel_contents .cancel_sync_button, .item_import_form_admin_view .import_sync_info_panel_contents .cancel_sync_button {
	padding: 12px;
	font-size: 14px;
}
.item_import_container .available_import_authorizations .authorized_button, .item_import_container .available_import_authorizations .unauthorized_button, .item_import_container .available_import_authorizations .select_ebay_account, .item_import_form .import_sync_info_panel_contents .cancel_sync_button, .item_import_form_admin_view .import_sync_info_panel_contents .cancel_sync_button {
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	font-weight: bold;
	font-family: Arial,Helvetica,FreeSans,sans-serif;
	line-height: 1em;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
}
.button_small, .button_medium, .button_large, .button_jumbo, .explanation_message.employee_discount_notice .discount_notice_button, .header_secondary_level_menu_item.sell_in_one_click a, .header_subnav_menu .header_subnav_menu_button, .mobile_footer_bottom_bar .mobile_footer_buttons_container .mobile_footer_button.add_to_cart_button, .mobile_footer_bottom_bar .new_user_sign_up_button {
	border: 1px solid #448000 !important;
	background-color: #66bf00 !important;
	background-image: linear-gradient(to top,#4b8c00,#66bf00) !important;
	color: #fff !important;
	text-shadow: 1px 1px #448000;
	box-shadow: inset 0 1px #92d941;
}
.button_large, .explanation_message.employee_discount_notice .discount_notice_button, .mobile_footer_bottom_bar .mobile_footer_buttons_container .mobile_footer_button.view_cart_button, .mobile_footer_bottom_bar .mobile_footer_buttons_container .mobile_footer_button.add_to_cart_button {
	padding: 12px;
	font-size: 14px;
}
.button_large,.submit_import_job{
	text-decoration: none;
}
.button_large,.submit_import_job{
	padding: 12px !important; font-size: 14px !important; display: inline-block !important; vertical-align: middle; border-radius: 5px !important; font-weight: bold !important; font-family: Arial,Helvetica,FreeSans,sans-serif; line-height: 1em !important; text-decoration: none !important; text-align: center !important; white-space: nowrap; cursor: pointer !important;
}
h3 {
	font-size: 20px;
	line-height: 30px;
}
.item_import_form .all_import_options .import_option_description, .item_import_form_admin_view .all_import_options .import_option_description {
	width: 25%;
	font-weight: bold;
}
.item_import_form .all_import_options .import_option_row, .item_import_form_admin_view .all_import_options .import_option_row {
	display: flex;
	margin-top: 20px;
}
.item_import_form .all_import_options, .item_import_form_admin_view .all_import_options {
	margin-top: 10px;
}
.item_import_form .all_import_options .import_option_contents, .item_import_form_admin_view .all_import_options .import_option_contents {
	width: 75%;
}
.item_import_form .all_import_options .import_option_content, .item_import_form_admin_view .all_import_options .import_option_content {
	display: flex;
	align-items: center;
}
.item_import_form .all_import_options .import_option_content_setting, .item_import_form_admin_view .all_import_options .import_option_content_setting {
	width: 100%;
}
.item_import_form .all_import_options .option, .item_import_form_admin_view .all_import_options .option {
	padding: 3px;
}
.item_import_form .option fieldset, .item_import_form_admin_view .option fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}
.item_import_form .all_import_options .import_option_content_elaboration, .item_import_form_admin_view .all_import_options .import_option_content_elaboration {
	width: 20%;
	text-align: right;
	margin-right: 14px;
}
.item_import_form .all_import_options .import_option_content_setting ul li, .item_import_form_admin_view .all_import_options .import_option_content_setting ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.item_import_form .all_import_options .import_option_content_setting label, .item_import_form_admin_view .all_import_options .import_option_content_setting label, .item_import_form .all_import_options .import_option_content_setting .custom_mapping_label, .item_import_form_admin_view .all_import_options .import_option_content_setting .custom_mapping_label {
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
}
a, a.bold {
	color: #3279a6; text-decoration: none; cursor: pointer;
}
a.tooltip {
	margin-left: 2px;
	cursor: help;
	text-decoration: none;
}
.ebay-sync-listing li {display: inline-block;vertical-align: top;margin: 0 15px 0 0;}
.ebay-sync-listing li label{display: block !important;}
.ebay-sync-listing li select, .ebay-sync-listing li input {
	width: 100%;
	height: 45px;
	padding: 6px 10px;
}
.ebay-button {
	padding: 10px 17px;
	border-radius: 5px;
	font-size: 14px;
}
.m-t-20{margin-top: 20px}
.ebay-button:disabled{
	background-color: #cd2653a3;
	cursor: not-allowed;
}
.wcfm-collapse .wcfm-container {
	position: relative;
}
.dataTables_processing {
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	bottom:0;
	width: 100%;
	height: 100%;
	margin-left: 0;
	margin-top: 0;
	padding-top: 0;
	text-align: center;
	font-size: 1.2em;
	background-color: white;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, 
		rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%,
		rgba(255,255,255,0) 100%);
}
.dataTables_processing .process_text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	left: 0;

}
.delete_item{
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.62);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
.alert-dismissible {
	padding-right: 4rem;
}
.fade.show {
	opacity: 1;
}
.alert-dismissible .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: .75rem 1.25rem;
	color: inherit;
}
button.close {
	padding: 0;
	background-color: 
	transparent;
	border: 0;
	-webkit-appearance: none;
}
.alert {
	font-size: 14px;
	line-height: 20px;
	position: relative;
	width: 100%;
	padding: 17px 17px 17px 18px;
	font-family: Arial,Helvetica,FreeSans,sans-serif;
	text-align: left;
}
.fade {
	opacity: 0;
	transition: opacity .15s linear;
}
.alert-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}
.alert-success {
	border-left: 6px solid#92d941;
	background-color:#f9fff2;
}
.alert-success:before{
	content: "";
	color:#58a600;
	font-family: "Font Awesome 5 Free" !important;
	padding-right: 10px;
}
.alert-info {
	border-left: 6px solid #73bae5;
	background-color:#f2faff;
}
.alert-info:before{
	content: "";
	color: #3279a6;
	font-family: "Font Awesome 5 Free" !important;
	padding-right: 10px;
}
.alert-danger:before {
	content: "\f06a";
	color: #dd3913;
	font-family: "Font Awesome 5 Free" !important;
	padding-right: 10px;
}
.alert-danger {
	border-left: 6px solid #dd3913;
	background-color:#f8d7da;
}

#wcfm-main-contentainer input[type="date"]{
	padding: 8px 10px;
	width: 60%;
	margin-bottom: 15px;
	margin-right: 0;
	font-size: 15px;
	display: inline-block;
	box-shadow: none;
	line-height: 18px;
	min-height: 35px;
	max-width: 100%;
}
#wcfm-main-contentainer input[type="date"]{
	background-color: #fff !important;
	border: 1px solid #ccc !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
input[type="date"]{
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	background-color: rgb(255, 255, 255);
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1.6rem;
	letter-spacing: -0.015em;
	margin: 0;
	margin-right: 0px;
	margin-bottom: 0px;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
}
input[type="checkbox"]:checked::before{
	position: inherit;
	margin: 0;
}
.mb-20{
	margin-bottom: 20px;
}
.accounts_table tr.selected td {
	background-color: #fff !important;
	padding: 11.5px 12px !important;
}
.accounts_table tr.selected .auth_name {
	font-weight: bold !important;
}
.accounts_table {
	width: 100%;
	border: 1px solid #d9d9d9;
	border-collapse: collapse;
}

.accounts_table td {
	font-size: 12px !important;
	line-height: 15px !important;
	padding: 7px 12px !important;
	height: 39px !important;
	background-color: #f2f2f2 !important;
}
.accounts_table {
	width: 100% !important;
	border: 1px solid #d9d9d9 !important;
	border-collapse: collapse !important;
}
.accounts_table .ebay_auth_expires {
	font-size: 12px;
	line-height: 15px;
}
.accounts_table tr {
	border: 1px solid #d9d9d9;
}
.authorized_button:hover, .select_ebay_account:hover, .cancel_sync_button:hover, .cancel_sync_button:hover {
	background-color: #f2f2f2;
	background-image: none;
	color: #2a678c;
}
.select_ebay_account {
	display: inline-block;
	margin-right: 0;
}
.authorized_button {
	display: inline-block;
	margin-right: 10px;
}
.authorized_button, .select_ebay_account, .cancel_sync_button, .cancel_sync_button {
	border: 1px solid #d9d9d9;
	background-color: #fff;
	background-image: none;
	color: #3279a6;
	text-shadow: none;
	box-shadow: none;
}
.select_ebay_account {
	padding: 5px 10px;
	font-size: 12px;
}
.authorized_button, .unauthorized_button, .select_ebay_account, .cancel_sync_button, .cancel_sync_button {
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	font-weight: bold;
	font-family: Arial,Helvetica,FreeSans,sans-serif;
	line-height: 1em;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
}
.accounts_table .ebay_selected_account::before {
	display: inline-block;
	font-family: "Font Awesome 5 Free" !important;
	font-size: 14px;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "";
	margin-right: 5px;
	color: 
	#58a600;
}
h1, h2, h3 {
	margin: 20px 0;
	margin-bottom: 20px;
	font-family: "Lato",Arial,Helvetica,FreeSans,sans-serif;
	font-weight: normal;
}
body {
	font-size: 14px;
	line-height: 20px;
	color: 
	#404040;
	font-family: Arial,Helvetica,FreeSans,sans-serif;
	text-align: left;
}
.authorized_button {
	padding: 8px 10px 9px;
	font-size: 13px;
}
#wcfm_menu .wcfm_menu_items a, .wcfm-collapse a{
	border-bottom: 1px solid #d9d9d9;
}
div.wcfm-content ul li .option_explanation a{
	color: #3279a6;
}
#ebay_item_importer_discount_amount{
	min-height: auto !important;
	border-radius: 0 !important;
	border: auto !important;
	background: auto !important;
	min-width: auto !important;
}
.import_option_content_setting fieldset{
	border-color: transparent !important;
}
.item_import_form .import_sync_info_panel_contents.secondary h4{
	font-size: 20px;
	margin: 15px 0;
}
.import_sync_info_panel_contents.secondary p {
	line-height: 1.6;
}
.import_sync_info_panel_contents.secondary {
	align-self: flex-end;
	width: 100%;
	padding: 30px;
	background-color: #fafafa;
}
.bg-danger{
	background-color: #dc3545 !important;
}
.bg-success{
	background-color: #7cc487 !important;
}
.progress_text{
	position: absolute;
	width: 100%;
	font-size: 14px;
	color: #000;
	text-align: center;
}
.option .imports_faster {
    margin-left: 10px;
    color: #757575;
    font-style: italic;
}
.option .imports_faster::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    margin-right: 5px;
    color: #58a600;
}
.orange {
    color: #db7500;
}
.option .import_option_selection_caveat {
    margin-top: 3px;
    padding-left: 15px;
    transition: opacity 100ms ease-in-out;
}
.tooltip{
	opacity: 1;
}
.import_option_contents .import_option_content_setting ul li:not(:first-child){
    margin-top: 5px;
}
.import_option_contents .import_option_content_setting label,select,input{
    cursor: pointer;
}
}